/* Este es el código para el header transparente navegable */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo {
    width: 100px;
}
.navbar{
    background-color: #442a0c;
}
.menuNav a {
text-transform: uppercase;
font-family: 'Inter', sans-serif;
font-weight: 800;
font-size: 1rem;
color: #eac696;
}
.menuNav a linkActual {
    color: #65451f;

}
.menuNav a:hover{
    color: #835e32;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28234, 198, 150, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
    border: 1px solid rgb(234, 198, 150)
}

/* CSS para el estilo de los herobanners, tanto de artículos como de la homepage */
.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/Tarta\ de\ queso\ cremosa.webp) no-repeat center;
    background-size: cover;
}
.containerHerobanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: 'Inter',sans-serif;

}
.containerHerobanner h3{
    font-size: 50px;
    letter-spacing: 0.4rem;
}
.linkHerobanner{
    color: #38342e;
    padding: 10px 24px;
    text-decoration: none;
    background: #f1f1f1;
    border-radius: 8px;
    transition: 0.3s all;
}
.linkHerobanner:hover{
    opacity: 0.5;
}
/* Css para los h2 del site */
h2{
    font-family: 'Inter',sans-serif;
    font-size: 30px;
    text-align: center;
    color: #eac696;
}

/* CSS para el background del site */
main{
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-size: 16px;
    line-height: 1,5;
    background: #442a0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* CSS para el container de las cards */
.site-container{
    margin: 2rem auto;
    max-width: calc(100%-80px);
}
.article-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2rem;
}
.article-image{
    margin:0;
    padding: 0;
    overflow: hidden;
}
.article-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.article-card {
    background: #65451f;
    border-radius: 20px;
    transition: 0,3s;
}
.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(34,68,123,0,2);
    cursor: pointer;
}
.artcile-content{
    padding: 2rem;
}
.article-content .card-category{
    font-size: 0,875rem;
    text-transform:uppercase;
    letter-spacing: 0,1rem;
    font-weight: 600;
    color:#eac696;
    display: block;
    text-decoration: none;
}
.article-content .card-title{
    margin: 1rem 0;
    color: #eac696;
}

.p-homepage{
    font-family: 'Inter',sans-serif;
    color: #aaaaaa;
    font-size: 20px;
    text-align: center;
}

/* CSS para el footer del site */
.footerContainer{
    width: 100%;
    padding:70px 20px 30px;
}
footer{
    background-color: #f7f6f6;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    background-color: transparent;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
.socialIcons a:hover{
    background-color: #aaaaaa;
    transition: 0,5s;
}
.socialIcons a i:hover{
    color: white;
    transition: 0,5s;
}
.footerBottom{
    background-color:#f7f6f6 ;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color:#aaaaaa;
}
.designer{
    opacity: 0,7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* CSS para el estilo del buscador del site */
.searchbox{
  width: 100%;
  height: 10vh;
background: #442a0c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchform{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}

.searchform input{
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
.searchform button{
    background: #eac696;
    padding: 10px 50px;
    border: none;
    outline: none;
    font-family: 'Inter', bold;
    color:#fff;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CSS para el estilo de los artículos */
.parrafoArticulo{
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 18px;
    color: #eac696;
    margin-bottom: auto;
}
.imagenArticulo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 60%;
}

/* CSS para el formulario de la página de contacto */
.formularioContacto{
    border-radius: 5px;
    background-color: #eac696;
    padding: 20px;
}
.formularioContacto input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.formularioContacto input[type=submit], [type=reset]{
    background-color: #65451f;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formularioContacto input[type=submit]:hover,[type=reset]:hover{
    background-color: #442a0c;
}