/* Este es el código para el header transparente navegable */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo {
    width: 100px;
}
.navbar{
    background-color: #442a0c;
}
.menuNav a {
text-transform: uppercase;
font-family: 'Inter', sans-serif;
font-weight: 800;
font-size: 1rem;
color: #eac696;
}
.menuNav a linkActual {
    color: #65451f;

}
.menuNav a:hover{
    color: #835e32;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28234, 198, 150, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
    border: 1px solid rgb(234, 198, 150)
}

/* CSS para el estilo de los herobanners, tanto de artículos como de la homepage */
.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/Tarta\ de\ queso\ cremosa.webp) no-repeat center;
    background-size: cover;
}
.containerHerobanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Inter',sans-serif;

}
.containerHerobanner h3{
    font-size: 50px;
    letter-spacing: 0.4rem;
}
.linkHerobanner{
    color: #38342e;
    padding: 10px 24px;
    text-decoration: none;
    background: #f1f1f1;
    border-radius: 8px;
    transition: 0.3s all;
}
.linkHerobanner:hover{
    opacity: 0.5;
}
/* Css para los h2 del site */
.lastRecipes h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Inter',sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #eac696;
    text-transform: uppercase;
}

.lastRecipes p{
    font-family: 'Inter',sans-serif;
    color: #eac696;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.botonLeer {
    background-color: #65451f;
    color: #fafafa;
   text-transform: uppercase;
   align-items: center;
   justify-content: center;
}
.titleCard{
    font-family: 'Inter',sans-serif;
    font-weight: 600;
}
/* CSS para el background del site */
main{
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-size: 16px;
    line-height: 1,5;
    background: #442a0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* CSS para las cards */
.containerCards{
    margin-left: 50px;
}

.topRecipes h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Inter',sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #eac696;
    text-transform: uppercase;
}
.topRecipes p{
    font-family: 'Inter',sans-serif;
    color: #eac696;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.card-img-top{
    height: 15vw;
    object-fit: cover;
}
/* CSS para el footer del site */
.copyrightFooter{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


/* CSS para el estilo del buscador del site */
.searchbox{
  width: 100%;
  height: 10vh;
background: #442a0c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchform{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}

.searchform input{
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
.searchform button{
    background: #eac696;
    padding: 10px 50px;
    border: none;
    outline: none;
    font-family: 'Inter', bold;
    color:#fff;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CSS para el estilo de los artículos */
.parrafoArticulo{
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 18px;
    color: #eac696;
    margin-bottom: auto;
}
.imagenArticulo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 60%;
}

/* CSS para el formulario de la página de contacto */
.formularioContacto{
    border-radius: 5px;
    background-color: #eac696;
    padding: 20px;
}
.formularioContacto input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.formularioContacto input[type=submit], [type=reset]{
    background-color: #65451f;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formularioContacto input[type=submit]:hover,[type=reset]:hover{
    background-color: #442a0c;
}