.containerPresentacion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenPresentacion{
max-width: 25%;
max-height: 15%;
float: left;
}





@mixin parrafoPresentacion{
padding-left: 20px;
padding-top:auto;
float:left;
}

.parrafoPresentacion{
    @include parrafoPresentacion;
    font:$parrafo-h3-font;
    color: #eac696;
}

@media (max-width:900px){
    .containerPresentacion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-content: space-between;
    }

    .imagenPresentacion{
        max-width: 100%;
        max-height: 80%;
    }
    }
.paddingParrafos{
    padding-top: 50px;
    padding-bottom: 20px;
}