.containerArticulo{
    width: 100%;
}
.parrafoArticulo {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 18px;
    color: #eac696;
    margin-bottom: auto;
  }

  @media (max-width: 900px) {
    .parrafoArticulo {
        width: 90%;
        margin-left: 20px;
        margin-right: 50px;
    }
  }