.containerArticulo{
    width: 100%;
    margin: auto;
}
.parrafoArticulo {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: calc(15px + 0.390625vw);
    color: #eac696;
    margin-bottom: 50px;
    margin-top: 20px;
  }

