.containerArticulo{
    width: 100%;
}

.parrafoArticulo {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
    font-size: calc(15px + 0.390625vw);
    color: #eac696;
    margin-bottom: 50px;
    margin-top: 20px;
  }

