.logo {
    width: 100px;
  }
  
  .navbar {
    background-color: #442a0c;
  }
  
  .menuNav {
    a {
      text-transform: uppercase;
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      font-size: 1rem;
      color: #eac696;
    }
  
    nav-link active {
      color: #65451f;
    }
  
    a:hover {
      color: #835e32;
    }
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28234, 198, 150, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-toggler {
    border: 1px solid rgb(234, 198, 150);
  }