.hero-image-receta2{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/Arroz\ negro\ con\ alioli\ de\ lima.jpg) no-repeat center;
    background-size: cover;
  }
.hero-image-receta1{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/Ensalada\ de\ aguacate\ y\ pulpo\ con\ espuma\ de\ pimenton.jpg) no-repeat center;
    background-size: cover;
  }
.hero-image-receta3{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/Guiso\ de\ setas\ otoñal.jpg) no-repeat center;
    background-size: cover;
  }