$title-h1-font: calc(80px + 0.390625vw) 'Inter', sans-serif;
$title-h2-font: calc(60px + 0.390625vw) 'Inter', sans-serif;
$title-h3-font: calc(16px + 0.390625vw);
$parrafo-h3-font: calc(14px + 0.390625vw) 'Inter', sans-serif;
