
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "variables";
@import "footer";
@import "fonts";
@import "header";
@import "estiloArticulos";
@import "formulario";
@import "recetario";
@import "herobanner";
@import "titles";
@import "estiloPresentacion";
@import "main";

.botonLeer {
  background-color: #65451f;
  color: #fafafa;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.titleCard {
  font-family: 'Inter',sans-serif;
  font-weight: 600;
}
/* CSS para las cards */

.containerCards {
  margin-left: 50px;
}

.topRecipes {
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font: $title-h3-font;
    font-weight: 500;
    text-align: center;
    color: #eac696;
    text-transform: uppercase;
  }

  p {
    font-family: 'Inter',sans-serif;
    color: #eac696;
    font-size: calc(14px + 0.39vw);
    font-weight: 400;
    text-align: center;
  }
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}
@media (max-width: 900px) {
  .card-img-top{
    height: 50vW;
    object-fit: cover;
  }
}

/* CSS para el estilo de los artículos */

.parrafoArticulo {
  font-family: 'Inter', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 18px;
  color: #eac696;
  margin-bottom: auto;
}

.imagenArticulo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 1200;
  height: 800;
}